<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>009 works</h1>
    <p>Welcome to <%= title %></p>

    <form action="">
      <p style="font-size: 18px; font-weight: bold;"><%= question %></p>
      <input type="text" id="answer" placeholder="this is a placeholder">
    </form>
    <button id="submit-answer">OK</button>

    <section id="test"></section>

    <div style="margin-top: 10%;">
      <% for (var i=0; i<questions_list.length; i++) { %>
      <p id="question_" style="font-size: 18px; font-weight: bold;"><%= questions_list[i].text %></p>
      <% } %>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script rel="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
