<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/bootstrap/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
          <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
                <li role="presentation"><a href="/alt">Alt</a></li>
              </ul>
            </nav>
            <h3 class="text-muted"><%= title %></h3>
          </div>

          <div class="jumbotron">
            <h1><%= title %></h1>
            <!-- -->
            <form action="">
              <p id="prompt_question" value="<%= question._id %> <%= question.category %>"><%= question.text %></p>
              <input id="answer" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-3 col-md-3 col-sm-3 col-xs-3" type="text" placeholder=". . . .">
            </form>
            <!-- -->
            <p><a id="submit-answer" class="btn btn-lg btn-success" href="#" role="button">OK</a></p>
          </div>


    <h2 class="">Survey Log:</h2>
    <div class="container">
      <!-- Example row of columns -->
        <div id="log">
          <% for (var i=0; i<questions_list.length; i++) { %>
            <% if ((i===0) || (i%2===0)) { %><div class="row marketing"><% } %>
              <div class="q_a_wrapper col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="question_" value="<%= questions_list[i]._id %>"><%= questions_list[i].text %>
                  <p id="ans <%=i%>-0" class="answer_item" value=""></p>
                  <p id="ans <%=i%>-1" class="answer_item" value=""></p>
                  <p id="ans <%=i%>-2" class="answer_item" value=""></p>
                  <p id="ans <%=i%>-3" class="answer_item" value=""></p>
                  <p id="ans <%=i%>-4" class="answer_item" value=""></p>
                  <p><a class="btn btn-default" role="button">View details &raquo;</a></p>
                </div>
              </div>
            <% if ((i===1) || (i%2===1) || (i===questions_list.length-1)) { %></div><% } %>
          <% } %>
        </div>

      <hr>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script rel="text/javascript" src="/javascripts/main.js"></script>
<!-- --><!-- --><!-- --><!-- -->

            <footer>
          <p>&copy; 2016 Paul Chubinskiy</p>
        </footer>
      </div>
    </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
